# Domain Name managed by Cloudflare
DOMAIN_NAME=yourdomain.com

# Cloudflare Configuration
# Provide your Cloudflare API Token below:
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here
CLOUDFLARE_TUNNEL_NAME=cf-docker-tunnel-sync

# Basic Authentication for Sync Dashboard
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin
